<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="background-color: grey;">
				<h1>This is a heading</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-14" style="background-color: teal;">
				<h1>This is another heading</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6" style="background-color: green;">
				<p style="color: red">This is a paragraph</p>
				<div class="row">
					<div class="col-md-6" style="background-color: maroon;">YOLO
					</div>

					<div class="col-md-6" style="background-color: navy;">SWAG</div>
				</div>
			</div>
			<div class="col-md-6" style="background-color: lime;">
				<p style="color: red">This is another paragraph</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3" style="background-color: blue;">
				<h1>col-md-3</h1>
			</div>
			<div class="col-md-offset-3 col-md-3" style="background-color: lime;">
				<h1>col-md-3 offset-md-3</h1>
			</div>
		</div>
	</div>
</body>
</html>